@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-900 text-gray-100;
  -webkit-font-smoothing: antialiased;
}

.button {
  @apply flex items-center justify-center gap-[10px] py-4 px-6 text-sm text-gray-100 font-bold bg-green-500  rounded uppercase transition-colors hover:bg-green-700;
}

.shimmer {
  background-image: linear-gradient(
    -90deg,
    #29292e 0%,
    #e1e1e6 50%,
    #29292e 100%
  );

  background-size: 400% 400%;
  animation: shimmerEffect 1.2s ease-in-out infinite;
}

@keyframes shimmerEffect {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: -135% 0%;
  }
}
